*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
}
.coluna{
    float: left;
    height: 100vh;
}
.esquerda{
    width: 40%;   
    background-color:aquamarine;  
    position: relative; 
}
.direita{
    width: 60%;   
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAFH9ONzVTTSZwxjKjh2toeizVM5xtd19SR0Q736cqXrODo0Cq_-wdUjyu_zE_lh8AGIY&usqp=CAU);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}
form{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    padding: 40px;
}
form h2{
    text-align: center;
    margin-bottom: 40px;
    color: black;
}
.input-group label{
    color:chocolate;
}
.input-group{
    position: relative;
}

.input-group input{
    width: 100%;
    height: 30px;
    border: 1px solid aquamarine;
    border-radius: 4px;
    margin-bottom: 15px;
}
.input-group .rememberPassword{
    position: absolute;
    top: 0;
    right: 0;
    color: blue;
}
button{
    width: 100%;
    height: 40px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2em;
}
.separador{
    width: 100%;
    height: 1px;
    background-color: blue;
    margin: 10px 0;
}
.semConta{
    display: block;
    width: 100%;
    border: 1px solid black;
    text-align: 6px 0;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}
