*{
    padding: 0;
    margin: 0;
}
.cambio{
    width: 600px;
    background-color: #000;
    border-spacing: 1px;
}
.cambio td, .cambio th{
    border:1px solid transparent;
    background-color: #fff;    
    padding: 4px; 
    text-align: center;
}
/*.cambio td.left{
    text-align: left;
}*/
.cambio td:first-of-type{
    text-align: left;
}    
.cambio th{
    background-color: #ccc; 
}

/* regra do cornão (tabela sebrada ou listrada)*/
/* odd - impar ou even -> par */
.cambio tr:nth-child(even) td{
    background-color: bisque;
}