.container{
    background-color: red;
    padding: 20px;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 50px 100px;
}
.container .grid-item{
    background-color: green;
    padding: 20px;
    border: 2px solid yellow;
}