.container{
    background-color: red;
    padding: 15px;
    display: grid; 
    gap: 10px; 
    grid-template-columns: 40% auto;
    grid-template-areas:
    'header header header'
    'sidebar content content'
    'rodape rodape rodape';  
}
.container .grid-item{
    background-color: green;
    padding: 20px;
    border: 2px solid yellow;
}
.header{
    grid-area: header;
}
.sidebar{
    grid-area: sidebar;
    height: 30vh;   
}
.content{
    grid-area: content;
    height: 50vh;
}
.rodape{
    grid-area: rodape;
}